body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gold;
    margin: 0px;
}

#calculator {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    background-color: rgb(7, 4, 4);
    border: 2px solid rgb(75, 73, 73);
    border-radius: 20px;
    padding: 10px;
    flex: 0 0 auto;
    margin-bottom: 50px;
}

footer {
    display: flex;
    background-color: black;
    flex: 1 0 auto;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: white;
}

#screen {
    flex: 0 0 auto;
    height: 80px;
    background-color: rgb(250, 250, 250);
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: end;
    display: flex;
    flex-direction: column; 
}

#screen p {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    height: 40px;
  }

.previous {
    font-size: 60%;
    margin: 0px;
    margin-right: 5px;
}

.current {
    margin: 0px;
    margin-right: 5px;
}

#buttons {
    flex: 1 0 auto;
    display: flex;
    flex-wrap: wrap;
}

button {
    flex: 1 1 calc((100% / 4) - 10px);
    box-sizing: border-box;
    border: 0.5px solid gray;
    border-radius: 50px;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.special-button {
    background-color: rgb(169, 156, 156);
    color: black;
}

.number-button {
    background-color: rgb(79, 78, 78);
    color: white;
}

.operator-button {
    background-color: orange;
    color: white;
}

#zero {
    flex-grow: 1000;
}